{% extends 'admin/base_site.html' %}

{% block content %}
<div class="dashboard-container">
    <div class="dashboard-panel">
        <iframe style="border: 1px solid #ccc;height:100vh; width: 520px" src="/annotator/annotate/"></iframe>
    </div>
</div>
{% endblock %}
