{% extends "admin/base_site.html" %}
{% load static %}
{% block title %} Add annotations | {{ block.super }} {% endblock %}


{% block extrahead %}
{{ block.super }}
<script src="{% static 'triage/mousetrap.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'triage/kbd.css' %}" />
{% endblock %}

{% block extrastyle %}
<style>
    kbd {
       display: inline !important;
       font-size: large !important;
       vertical-align: text-top !important;
       text-transform: uppercase;
       font-variant: none !important;
    }

    .annotation-form {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 600px;
    }

    .annotation-form .submit-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;
    }

    .annotation-form .submit-row .button {
        width: 100%;
        padding: 10px 15px;
        text-align:center;
        font-size: large;
        font-variant: small-caps;
    }

    .annotation-form-field {
      margin: 1px auto;
      border-radius: 5px;
    }

    .annotation-form-field.event {
      cursor: pointer;
      border: 1px solid steelblue;
      padding: 5px 10px;
      overflow: hidden;
    }

    .annotation-form-field.event.less {
      height: 48px;
      margin-bottom: 15px;
    }

    .annotation-form-field.tweet {
      width: 100%;
      min-height: 200px;
    }

    .annotation-form-field.bordered {
      border: 1px solid steelblue;
    }

    .annotation-form-field .errorlist li {
      color: white;
      background: maroon;
      padding: 3px 10px;
      font-size: 16px;
    }

    .annotation-form-field-label {
      display: block;
      background: steelblue;
      color: #f5f5f5;
      text-align: center;
      font-size: 18px;
    }

    .annotation-form-field ul {
      padding: 5px ;
      width: 285px;
    }

    .annotation-form-field li {
      list-style: none;
      padding: 5px;
      border-bottom: 1px solid lightblue;
    }
    .annotation-form-field li:last-child {
      border: none;
    }
    .annotation-form-field li kbd {
      float: right;
    }
    .annotation-form-field li label {
      font-size: 18px;
      width: 95%;
      cursor: pointer;
      display: inline-block;
      text-transform: capitalize;
    }

</style>
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">Home</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='triage' %}">Triage</a>
        &rsaquo; Add annotation
    </div>

{% endblock %}
{% block content %}
{% if zerotweets %}
<h1>Nothing available to annotate!</h1>
{% else %}
<form action="." method="post">
    <div class="annotation-form deep-blue">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.tweet }}
        {{ form.annotator }}

        {% if tweet.event.overview %}
        <div id="aboutEvent" onclick="openEvent(this)" class="annotation-form-field event less">
            <strong>Event overview <kbd>q</kbd></strong>
            {{ tweet.event.overview|linebreaks|urlize }}
        </div>
        {% endif %}
        <div class="annotation-form-field tweet">
            <div class="twitter-tweet" data-id="{{ tweet.id }}"></div>
            <p>{{ tweet.text }}</p>
            <div id="lastKeyChord"></div>
        </div>
        <div class="annotation-form-field bordered">
            <label class="annotation-form-field-label">Aspects</label>
            {{ form.aspects.errors }}
            {{ form.aspects }}
        </div>
        <div class="annotation-form-field bordered">
            <label class="annotation-form-field-label">Sentiments</label>
            {{ form.sentiments.errors }}
            {{ form.sentiments }}
        </div>
        <!-- div class="annotation-form-field">
            <label class="annotation-form-field-label">Switches</label>
            {{ form.switches.errors }}
            {{ form.switches }}
        </div -->
        <br clear="all"/>
        <div class="submit-row ">
            <button accesskey="s" class="button" type="submit">Save annotation <kbd>Alt+Shift+s</kbd></button>
            <button accesskey="r" class="button" type="reset">Reset form <kbd>Alt+Shift+r</kbd></button>
            <a accesskey="k" class="button" href="{% url 'annotate_redirect_skip' tweet.id %}">Skip this for now<kbd>Alt+Shift+k</kbd></a>
        </div>
    </div>
</form>
{% endif %}
<script>
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  for (var i = 0; i < checkboxes.length; i ++) {
    checkboxes[i].tabIndex = i;
  }
  var keyCharList = 'abcdefghijklmnopqrstuvwxyz';
  var lists = [
    [document.getElementById('id_aspects'), 'a'],
    [document.getElementById('id_sentiments'), 's']
  ];
  var finalMapping = []
  var keys = []

  for (var i = 0; i < lists.length; i++) {
    var element = lists[i][0];
    var prefix = lists[i][1];
    var mapping = [];

    var checkboxes = element.querySelectorAll('input[type="checkbox"]');
    for (var j = 0; j < checkboxes.length; j++) {
      var cbox = checkboxes[j];
      var cboxId = cbox.id;
      var label = element.querySelector('label[for="' + cbox.id + '"]')
      var labelText = label.textContent.trim();

      var start = 0;
      var end = 3;
      while (start < labelText.length - 3) {
        var keyChars = labelText.substring(start, end).toLowerCase();

        if (keys.indexOf(keyChars) == -1) {
          keys.push(keyChars);
          label.innerHTML += '<kbd>' + keyChars + '</kbd>';
          break;
        }
        start+= 1;
        end+= 1;
      }
      mapping.push([cboxId, keyChars, '']);
    }
    finalMapping.push(mapping);
  }

  finalMapping.forEach(function(map) {
    map.forEach(function(item) {
      var chord = item[1].split('').join(' ');
      Mousetrap.bind(chord, function(e, combo) {

        var lk = document.getElementById('lastKeyChord');
        var el = document.getElementById(item[0]);
        el.checked = !el.checked;

      });
    });
  });


  function openEvent(e) {
    var el = document.getElementById('aboutEvent');
    el.style.height = (el.style.height == 'auto') ? '48px': 'auto'
  };

  Mousetrap.bind('q', openEvent);

</script>
{% endblock %}

