{% extends 'admin/base_site.html' %}

{% block title %} Data Prep {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Data Prep</a></h1>
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script src="https://platform.twitter.com/widgets.js"></script>
{% endblock %}

{% block footer %}
<div style="text-align: center; text-transform: uppercase; font-weight: bold; border-top: 1px solid lightblue;" id="footer">
    <a href="{% url 'help' %}">Help</a>
</div>
<script>

window.onload = (function() {
    var tweets = document.querySelectorAll('.twitter-tweet');
    tweets.forEach(function(t) {
        twttr.widgets.createTweet(
            id = t.dataset['id'],
            t,
            {
                theme: "dark",
                cards: "visible"
            }
        );
    });
});
</script>

{%endblock %}