{% extends 'admin/base_site.html' %}
{% load static %}

{% block extrastyle %}
{{ block.super }}
<style>
    figure {
      margin: 0;
      padding: 0;
      max-width:960px;
    }
    figure img {
      max-width:958px;
      box-shadow: 1px 1px 1px 1px #777;
      display:block;
    }
    figcaption {
      padding: 3px 10px;
      font-weight: 500;
    }
</style>
{% endblock %}

{% block title %}  Help {{ block.super }} {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo; Help
</div>

{% endblock %}
{% block content %}
<div class="annotation-help">
    <h1>Annotator Help</h1>
    <h2 id="about">What is this about?</h2>
    <p>We are collecting tweets from <a href="https://twitter.com">Twitter</a>. We want to classify these tweets based on <acronym>aspects</acronym> and sentiments they exhibit.</p>
    <ul>
        <li><strong>Aspect</strong> can be defined as what a particular tweet is about.</li>
        <li><strong>Sentiment</strong> is the emotion(s) exhibited in a particular tweet.</li>
        <li>A tweet can have multiple aspects and sentiments.</li>
    </ul>
    <h2 id="job">What am I supposed to do about it?</h2>
    <p>You job as an annotator is</p>
    <ol>
        <li>Read the tweet carefully</li>
        <li>Attach sentiments and aspects to it as you see fit.</li>
        <li>Save the tweet.</li>
    </ol>
    <h2 id="how">How do I do my job?</h2>
    <p>This section will describe all the screens one by one.</p>
    <h3>Landing screen</h3>
    <p>This is the first screen you see after you login.</p>
    <figure>
        <a href="{% static 'triage/landing-screen.png' %}">
            <figcaption>Landing screen. The screenshot describes various elements on the screen.</figcaption>
            <img width="auto" src="{% static 'triage/landing-screen.png' %}" alt="Landing screen."/>
        </a>
    </figure>

    <h3>Add annotations screen</h3>
    <figure>
        <a href="{% static 'triage/annotation-form.png' %}">
            <figcaption>Add annotations screen. The figure describes various elements on the screen.</figcaption>
            <img width="auto" src="{% static 'triage/annotation-form.png' %}" alt="List/change annotation screen."/>
        </a>
    </figure>

    <h3>List/change annotations screen</h3>
    <figure>
        <a href="{% static 'triage/annotation-changelist.png' %}">
            <figcaption>List/change annotations screen. The screenshot describes various elements on the screen.</figcaption>
            <img width="auto" src="{% static 'triage/annotation-changelist.png' %}" alt="List/change annotation screen."/>
        </a>
    </figure>
</div>
{% endblock %}